.weather-condition {
  margin-bottom: 50px;
}
.weather-condition__location {
  margin-top: 3rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}
.weather-condition__desc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 0.3rem; */
  margin: 2rem 5rem 0 5rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  /* padding: 4%; */
}
.weather-condition__desc img {
  vertical-align: middle;
}
.weather-condition__desc .citem {
  padding: 0 0 3px 5px;
}
.weather-condition__temp {
  color: #fff;
  margin-top: 0.75rem;
  text-align: center;
  font-size: 5rem;
  font-weight: 100;
}
