* {
  box-sizing: border-box;
}

body {
  color: #bfc1c8;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}
body input,
button {
  border: none;
  font-size: 100%;
  outline: none;
}

header {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0 0.5rem 1.5rem;
}
